h1 {
   text-align: center;
   font-size: 35px;
   font-family: cursive;
   color: rgb(110, 14, 201); 

}

img {
    border: black inset 10px;
    width: 250px;
    height: 200px;
    margin-left: 200px;
}

p {
    width: 70%;
    text-align: center;
    line-height: 30%;
    font-size:  20px;
    font-family: fantasy;
}

footer {
    margin-block-end: ;
    position: fixed;
}